body {
	min-width: 1200px;
	margin: 0;
	padding: 0;
	color: #283136;
	font-family: 'Roboto', 'Arial', sans-serif;
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;
}

hr {
	margin: 0;
	background-color: #eeeeee;
	height: 2px;
	border: 0;
}

.clearfix {
	content: "";
	display: table;
	clear: both;
}

.main-header {
	padding-top: 48px;
	margin-bottom: 80px;
	background-color: #eeeeee;
}

.inner-page .main-header {
	margin-bottom: 56px;
}


.container {
	width: 1160px;
	margin: 0 auto;
	padding: 0 20px;
}

.main-header-top {
	width: 1160px;
}

.index-logo {
	width: 160px;
	height: 65px;
	float: left;
	margin-right: 200px;
}

.index-logo a:hover {
	opacity: 0.8;
}

.index-logo a:active {
	opacity: 0.3;
}

.main-navigation {
	width: 500px;
	float: left;
	margin-right: 140px;
}

.main-navigation .active {
	position: relative;
}

.main-navigation .active::after {
	position: absolute;
	content: "";
	width: 100%;
	height: 2px;
	background-color: #fb565a;
	bottom: 4px;
	left: 0;
}

.main-navigation .active a:hover{
	color: #000000;
}

.main-navigation ul {
	padding: 0;
	margin: 0;
	font-size: 0;
	list-style: none;
	padding-left: 1px;
}

.main-navigation li {
	display: inline-block;
	vertical-align: middle;
	margin-right: 45px;
	font-size: 16px;
	line-height: 30px;
	font-weight: 500;
	padding-top: 26px;
	padding-bottom: 10px;	
}

.main-navigation li:last-child {
	margin-right: 0;
}

.main-navigation a {
	text-decoration: none;
	color: #000000;
	text-transform: uppercase;
}

.main-navigation a:hover {
	color: #fb565a;
}

.main-navigation a:active {
	color: #a6a6a6;
}

.user-block {
	max-width: 160px;
	float: right;
	font-size: 16px;
	line-height: 30px;
}

.login {
	position: relative;
	display: inline-block;
	vertical-align: middle;	
	padding-top: 26px;
	padding-bottom: 10px;
	color: #000000;
	text-transform: uppercase;
	text-decoration: none;
	padding-left: 41px;
}

.login::before {
	content: "";
	position: absolute;
	top: 33px;
	right: 100px;
	display: block;
	width: 15px;
	height: 15px;
	background: transparent url("img/sprite.png") no-repeat;
}

.login:hover {
	color: #fb565a;
}

.login:active {
	color: #a6a6a6;
}

.page-title {
	margin: 0;
	color: #000000;
	text-align: center;
	font-size: 55px;
	line-height: 55px;
	padding-top: 78px;
	padding-bottom: 108px;
}

.main-header-slider {
	position: relative;	
	height: 430px;
	width: 1160px;
	margin: 0 auto;
}

.main-header-slider input[type="radio"] {
	position: absolute;
	opacity: 0;
}

.slider-controls {
	position: absolute;
	bottom: 96px;
	left: 50%;	
	width: 240px;
	height: 18px;
	margin-left: -120px;
	text-align: center;
	z-index: 1000;
}



.slider-controls label {
	display: inline-block;
	background: #ffffff;
	width: 8px;
	height: 8px;
	margin: 0 7px;
	vertical-align: top;
	border: 5px solid #ffffff;
	border-radius: 50%;
	cursor: pointer;
}

#btn-1:checked ~ .slider-controls label[for="btn-1"],
#btn-2:checked ~ .slider-controls label[for="btn-2"],
#btn-3:checked ~ .slider-controls label[for="btn-3"] {
	background: #c1c1c1 url("img/active.png") no-repeat 50% 50%;
}

.slide {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.slide-text {
	width: 560px;
	color: #283136;
	padding: 77px 0;
}

.slide-title {
	font-size: 55px;
	line-height: 55px;
	font-weight: 500;
	color: black;
	margin-bottom: 27px;
}

.slide-text p {
	font-size: 16;
	line-height: 24px;
	margin-bottom: 39px;
	font-weight: normal;
}

.slide:nth-child(1) {
	background-image: url("img/slide1.png");
	background-repeat: no-repeat;
	background-position: 93% 17px;
}

.slide:nth-child(2) {
	background-image: url("img/slide2.png");
	background-repeat: no-repeat;
	background-position: 100% 10px;
}

.slide:nth-child(3) {
	background-image: url("img/slide3.png");
	background-repeat: no-repeat;
	background-position: 100% 19px;
}

.slide {
	display: none;
}

#btn-1:checked ~ .slides .slide:nth-child(1) {
	display: block;
}

#btn-2:checked ~ .slides .slide:nth-child(2) {
	display: block;
}


#btn-3:checked ~ .slides .slide:nth-child(3) {
	display: block;
}

.btn {
	display: inline-block;
	vertical-align: top;
	background-color: #fb565a;
	color: white;
	font-family: 'Roboto', 'Arial', sans-serif;
	font-size: 16px;
	line-height: 18px;
	font-weight: 500;
	color: #ffffff;
	text-transform: uppercase;
	text-decoration: none;
	text-align: center;
	padding-left:54px;
	padding-right:56px;
	padding-top: 18px;
	padding-bottom: 14px;
	border-radius: 3px;
}


.btn:hover {
	background-color: #e74246;
}

.btn:active {
	background-color: #d7373b;
	color: #e37376;
	box-shadow: inset 0 3px 0 rgba(0,1,1,0.1);
}

.feauters {
	margin-bottom: 81px;
}

.feauters-item {
	width: 300px;
	float: left;
	margin-right: 100px;
}

.feauters-item:last-child {
	margin: 0;
}

.feauter-item-title {
	margin: 0;
	margin-top: 21px;
	font-weight: 700;
	color: #000000;
	text-transform: uppercase;
}

.feauter-item-text {
	margin: 0;
	margin-top: 19px;
	margin-bottom: 31px;
	padding-right: 40px;
}

.index-content {
	padding-top: 40px;
	padding-bottom: 70px;
}

.feauters-item .btn {
	padding-left: 40px;
	padding-right: 40px;
}

.feauters-item:nth-child(2) .btn {
	background-color: #00ca74;
}

.feauters-item:nth-child(3) .btn {
	background-color: #efc84a;
}

.feauters-item:nth-child(2) .btn:hover {
	background-color: #00bc6c;
}

.feauters-item:nth-child(2) .btn:active {
	background-color: #00bc6c;
	color: #4dc491;
}

.feauters-item:nth-child(3) .btn:hover {
	background-color: #eab534;
}

.feauters-item:nth-child(3) .btn:active {
	background-color: #eab534;
	color: #edc265;
}

.shop-parameters {
	float: left;
	width: 260px;
}

.shop-parameters h2 {
	margin: 0;
	text-transform: uppercase;
	font-size: 18px;
	line-height: 30px;
	color: #000000;
	margin-bottom: 50px;
}

.shop-parameters-form fieldset {
	margin: 0;
	padding: 0;
	border: none;
	margin-bottom: 50px;
}

.range-filter {
	width: 260px;
}

.range-controls {
	box-sizing: border-box;
	position: relative;
	height: 80px;
	padding: 0 20px;
	margin-bottom: 14px;
	background-color: #eeeeee;
	border-radius: 5px;
	overflow: hidden;
}

.range-controls .scale {
	margin-top: 39px;
	height: 2px;
	background-color: #d7dcde;
}

.range-controls .bar {
	height: 2px;
	background-color: #00ca74;
}

.range-controls .toggle {
	position: absolute;
	width: 5px;
	height: 5px;
	top: 28px;
	left: 18px;
	background-color: #ababab;
	border: 9px solid #ffffff;
	border-radius: 50%;
	cursor: pointer;
	box-shadow: 0 2px 1px 0 #cfcfcf;
}

.range-controls .min-toggle {
	left: 18px;
}

.range-controls .max-toggle {
	left: 160px;
}

.price-controls {
	position: relative;
	height: 38px;
}

.price-controls input {
	position: absolute;
	width: 60px;
	padding: 8px 10px;
	margin-left: 11px;	
	border: none;
	background-color: #eeeeee;
	border-radius: 5px;
	color: #283136;
	font-family: 'Roboto', 'Arial', sans-serif;
	font-size: 16px;
	line-height: 22px;
	font-weight: 300;
	text-align: center;
	font-style: normal;
}

 .shop-parameters-form .price-controls label {
	position: absolute;
	display: block;
	width: 112px;

	padding: 0;
}

 .shop-parameters-form .price-controls .min-price {
	left: 0;
 }

  .shop-parameters-form .price-controls .max-price {
	right: 0;
 }

.shop-parameters-form legend {
	margin: 0;
	padding: 0;
	text-transform: uppercase;
	font-size: 18px;
	line-height: 30px;
	font-weight: bold;
	color: #000000;
	margin-bottom: 20px;
}

.shop-parameters-form ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.shop-parameters-form li {
	margin-bottom: 15px;
}

.shop-parameters-form label {
	position: relative;	
	padding-left: 35px;

}



.shop-parameters-form input[type="radio"] + label::before {
	position: absolute;
	content: "";
	width: 25px;
	height: 25px;
	left: 0;
	background: transparent url("img/sprite.png") no-repeat 0 -472px;
}

.shop-parameters-form input[type="radio"]:checked + label::before {
	background: transparent url("img/sprite.png") no-repeat 0 -527px;
}

.shop-parameters-form input[type="checkbox"] + label::before {
	position: absolute;
	content: "";
	width: 27px;
	height: 23px;
	left: 0;
	background: transparent url("img/sprite.png") no-repeat 0 -45px; 
}

.shop-parameters-form input[type="checkbox"]:checked + label::before {
	background: transparent url("img/sprite.png") no-repeat 0 -98px; 
}

.shop-parameters-form .btn {
	margin-bottom: 45px;
	padding: 0;
	width: 100%;
	height: 50px;
	line-height: 50px;
	background-color: #eeeeee;
	color: #000000;
}

.items {
	float: right;
	width: 760px;
}

.shop-parameters-form input[type="radio"],
.shop-parameters-form input[type="checkbox"] {
	position: absolute;
	opacity: 0;
}

.shop-parameters-form input[type="radio"]:checked ~ .slider-controls label[for="btn-1"],
 {
	background: #c1c1c1 url("img/active.png") no-repeat 50% 50%;
}

.items-sort h2 {
	display: inline-block;
	margin: 0;
	text-transform: uppercase;
	font-size: 18px;
	line-height: 18px;
	color: #000000;
	margin-bottom: 57px;
	margin-right: 267px;
}

.items-sort a {
	display: inline-block;
	font-size: 14px;
	line-height: 18px;
	text-transform: uppercase;
	color: #000000;
	opacity: 0.3;
	text-decoration: none;
	margin-right: 26px;
}

.items-sort a:hover {
	opacity: 0.6;
}

.items-sort a:active {
	opacity: 1;
}


.items-sort a:nth-last-child(2) {
	font-size: 0;
	width: 9px;
	height: 9px;
	background: transparent url("img/sort-down.png") no-repeat;
	margin-left: 23px;
	margin-right: 20px;
}

.items-sort a:nth-last-child(1) {
	margin: 0;
	font-size: 0;
	width: 9px;
	height: 9px;
	background: transparent url("img/sort-down.png") no-repeat;
	transform: rotate(180deg);
}

.item {
	box-sizing: border-box;
	position: relative;
	display: inline-block;
	width: 360px;
	height: 616px;
	padding-top: 40px;
	margin-right: 36px;
	margin-bottom: 36px;
	font-size: 0;	
	z-index: 1;
}

.item::before {
	content: "";
	position: absolute;
	width: 360px;
	height: 40px;
	top: -0px;
	background: #e9e9e9 url("img/browser.png") no-repeat;
	opacity: 0.15;
}

.item:hover {
	box-shadow: 0 6px 15px 1px rgba(0,1,1,0.25);
}

.item:hover::before {
	opacity: 1;	
}

.item:nth-last-child(2n) {
	margin-right: 0;
}

.item-description {
	position: absolute;
	z-index: 1000;
	width: 100%;
	bottom: 0;
	background-color: #eeeeee;
	text-align: center;
	padding-top: 26px;	
	padding-bottom: 40px;
	display: none;
}

.item-description h3 {
	margin: 0;
	font-size: 18px;
	line-height: 30px;
	color: #000000;
	text-transform: uppercase;
	margin-bottom: 18px;
}

.item-description p {
	margin: 0;
	font-size: 16px;
	line-height: 18px;
	padding: 0 80px;
	margin-bottom: 29px;
}

.item:hover .item-description {
	display: block;
}

.item .item-description .btn:hover {
	background: #e74246;
}

.item .item-description .btn:active {
	background-color: #d7373b;
	color: #ffffff;
	box-shadow: inset 0 3px 0 rgba(0,1,1,0.1)
}

.index-content-left {
	width: 660px;
	float: left;
	margin-right: 140px;
}

.paginator {
	margin: 0;
	padding: 0;
	list-style: none;
	margin-top: 26px;
}

.paginator li {
	margin: 0;
	display: inline-block;
	vertical-align: middle;
}

.paginator .btn {
	padding: 0;
	margin: 0;	
	width: 260px;
	height: 50px;
	line-height: 54px;
	background-color: #eeeeee;
	color: #000000;
}

.inner-page .btn:hover {
	background-color: #dfdfdf;
}

.inner-page .btn:active {
	background-color: #d5d5d5;
	color: #959595;
	box-shadow: inset 0 3px 0 rgba(0,1,1,0.1);
}

.paginator .numb {
	padding: 0;
	margin-right: 7px;
	width: 50px;
	height: 50px;
	text-align: center;
}

.paginator .active .btn,
.paginator .active .btn:hover {
	width: 47px;
	height: 47px;
	background-color: #ffffff;
	border: 3px solid #dbdbdb;
}


.index-content-left-title {
	margin: 0;
	margin-top: 33px;
	margin-bottom: 35px;
	font-size: 45px;
	line-height: 45px;
	color: #000000;
	font-weight: 500;
}

.index-content-left-text {
	margin: 0;
	margin-bottom: 38px;
}

.index-content-left-list-title {
	margin: 0;
	margin-bottom: 25px;
	text-transform: uppercase;
	color: #000000;
	font-weight: 500;
}

.index-content-left-list {
	margin: 0;
	padding: 0;
	list-style: none;
}

.index-content-left-list li {
	position: relative;
	padding-left: 37px;
	margin-bottom: 25px;
}

.index-content-left-list li:last-child {	
	margin-bottom: 0;
}

.index-content-left-list li::before {
	content: "";
	position: absolute;
	width: 25px;
	height: 2px;
	background-color: #fb565a;
	top: 10px;
	left: 1px;
}

.index-content-right {
	width: 360px;
	float: left;
	text-align: center;
	color: #000000;
}

.index-content-right-image {
	width: 360px;
	height: 208px;
	margin-bottom: 35px;
}

.index-content-right-title {
	text-transform: uppercase;
	font-weight: 700;
	margin-bottom: 31px;
}

.index-content-right-text {
	float: left;
	width: 100px;
	text-align: left;
	margin-right: 20px;
}

.index-content-right-text sup{
	font-weight: 500;
	font-size: 25px;
}

.index-content-right-text p:first-child {
	margin: 0;
	padding: 0;
	font-size: 45px;
	line-height: 45px;
	font-weight: bold;
	margin-bottom: 20px;
}

.index-content-right-text p:last-child {
	margin: 0;
	padding: 0;
	font-size: 16px;
	line-height: 18px;
	color: #283136;
}

.partners {
	margin: 0;
	padding: 0;
	padding-top: 50px;
	padding-bottom: 35px;
	font-size: 0;
}

.partners li {	
	position: relative;
	display: inline-block;
	vertical-align: middle;
	width: 260px;
	text-align: center;	
	margin-right: 40px;	
	cursor: pointer;	
}

.partners a {
	position: relative;
	display: block;
	
	height: 95px;	
}

.partners img{
	opacity: 0.2;	
}

.partners img:hover {
	opacity: 1;
}

.partners img:active {
	opacity: 0.1;
}
.partners li:last-child {
	margin-right: 0px;
}
.partners li::before {
	position: absolute;
	content: "";
	width: 2px;
	height: 52px;
	left: 280px;
	top: 19px;
	background: #cccccc url("img/div.jpg") no-repeat;
}

.partners li:last-child::before {
	content: "";
	background: transparent;
}


.map {
	position: relative;
	margin-top: 80px;
	height: 420px;
}

.contacts {
	position: absolute;
	box-sizing: border-box;
	top: -362px;
	width: 320px;
	background: #ffffff;
	padding-left: 50px;
	padding-right: 50px;
	padding-bottom: 47px;
	padding-top: 48px;
	margin-right: 850px;
	color: #666666;
}

.contacts-title {
	margin: 0;
	font-size: 18px;
	line-height: 30px; 
	color: #000000;
}

.contacts p {
	margin: 0;
	padding: 0;
	padding-top: 24px;
	padding-bottom: 15px;
	font-size: 16px;
	line-height: 18px;	
}

.contacts .btn {
	box-sizing: border-box;
	width: 100%;
	margin-top: 34px;
	padding-left: 0;
	padding-right: 0;
}

.contacts-container {
	position: relative;
	margin: 0 auto;
	width: 1160px;
}

.map iframe {	
	position: absolute;
	width: 100%;
	height: 420px;
	border: none;
}

.main-footer {
	padding-top: 65px;
}

.footer-socials {
	width: 260px;
	height: 78px;
	float: left;
	margin-right: 140px;	
}

.social-btn {
	display: inline-block;
	vertical-align: top;
	width: 78px;
	height: 78px;
	margin-right: 9px;
	text-decoration: 0;
	font-size: 0;
	border-radius: 50px;
}

.social-btn:hover {
	background-color:  #e74246;
}

.social-btn:last-child {
	margin-right: 0;
}

.social-btn-vk {
	background:  #e1e1e1 url("img/vk-icon.png") no-repeat 50% 50%;
}

.social-btn-fb {
	background:  #e1e1e1 url("img/fb-icon.png") no-repeat 50% 50%;
}

.social-btn-inst {
	background:  #e1e1e1 url("img/insta-icon.png") no-repeat 50% 50%;
}

.social-btn-vk:active {
	background:  #e1e1e1 url("img/vk-btn-active.png") no-repeat ;
}

.social-btn-fb:active {
	background:  #e1e1e1 url("img/fb-btn-active.png") no-repeat ;
}

.social-btn-inst:active {
	background:  #e1e1e1 url("img/insta-btn-active.png") no-repeat ;
}


.footer-text {
	display: block;
	margin-top: 7px;
	width: 600px;
	float: left;
}

.footer-text b {	
	font-size: 36px;
	line-height: 36px;
	color: #000000;
}

.footer-text p {
	margin: 0;
	margin-top: 8px;
	line-height: 22px;
}

.main-footer  .container {
	padding-bottom: 70px;
}